/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* HEADER CSS START*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 10;
}



.sticky {
	padding: 10px 100px;
	background-color: #413e3e;
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #413e3e;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

.sticky .logo {
	color: #ffffff;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #413e3e;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
}

.sticky ul li a {
	color: #ffffff;
	text-shadow: 0 0 20px #d9d9d9;
}


header ul li a:hover {
	color: rgb(239, 185, 255);
	text-shadow: 0 0 50px rgb(0, 0, 0);
}

.sticky ul li a:hover {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #010031, 0 0 100px #010031, 0 0 150px #010031;
}

header .login-signout a {
	color: rgb(255, 255, 255);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(31, 30, 30);
}

.sticky .login-signout a {
	-webkit-text-stroke-color: rgb(255, 255, 255);
}

/* HEADER CSS END*/

body {
	background-image: linear-gradient(5deg, #444341 0%, #444241 24%, #ece7e2 25%, #fff 85%, #fcf29f 100%);
	margin-top: 20px;
	height: 100vh;
	overflow: hidden;
}

#content {
	display: flex;
	height: 78vh;
	width: 75vw;
	position: absolute;
	top: 12vh;
	left: 50vw;
	transform: translateX(-50%);
}

#shadow {
	height: 78vh;
	width: 75vw;
	position: absolute;
	top: 15.5vh;
	left: 50.8vw;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

#left-navigation-bar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 15.75vw;
	min-width: 15.75vw;
	background-color: #373737;
	top: 12vh;
	left: 50vw;
	border-right: 0.3vw solid #292929;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 15%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

#item-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
}

#item-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.item {
	height: 8%;
	width: 90%;
	text-align: center;
	align-self: flex-start;
	background-color: #222222;
	border-top-right-radius: 3.4vh;
	border-bottom-right-radius: 3.4vh;
	color: #bfbfbf;
	transition: ease-in-out 0.5s;
}

#item-container .selected {
	width: 100%;
	background-color: #bfbfbf;
	color: #222222;
	transition: ease-in-out 0.5s;
}

.item:hover {
	width: 100%;
	background-color: #bfbfbf;
	color: #222222;
	transition: ease-in-out 0.5s;

}


.item:last-child {
	flex-grow: 1;
}

.item p {
	margin: 1.3vh;
	font-family: "Poppins", sans-serif;
	font-size: 2.4vh;
}

#item-container .selected .organisation-label,
#item-container .selected .organisation-label button {
	background-color: #bfbfbf;
	color: #222222;
	transition: ease-in-out 0.5s;
}

#item-container .selected .highlighted button {
	background-color: #222222;
	color: #e3e3e3;
}

.organisation-label {
	width: 100%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	transition: ease-in-out 0.5s;
}

.organisation-label button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1vh 0 1vh 0;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);

	font-family: "Poppins", sans-serif;
	font-size: clamp(5px, 3vh, 17px);
	color: #bfbfbf;
	transition: ease-in-out 0.5s;
}

.item:hover .organisation-label,
.item:hover .organisation-label button {
	background-color: #bfbfbf;
	color: #222222;
	transition: ease-in-out 0.5s;
}


.highlighted {
	background-color: #9e9e9e;
}

.highlighted button {
	color: #e3e3e3;
}

.item:hover .highlighted {
	background-color: #222222;
}

.item:hover .highlighted button {
	background-color: #222222;
	color: #e3e3e3;
}



#right-main-bar {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
	background-color: #2b2b2b;
	top: 12vh;
	left: 50vw;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	transform: translateX(-1px);
}

#profile-focus #form {
	outline: 2px solid white;
}

